<!DOCTYPE html>
<html>

<head>
	<title>SiwFestival - Registrazione</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<form th:action="@{/logout}" method="POST" style="display:inline;">
				<button type="submit">Logout</button>
			</form>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div>
		<a href="/"><img src="/images/logo-siw.png" width="50%" /></a>
	</div>

	<h1>Registrazione nuovo utente</h1>
	<form th:action="@{/register}" method="POST">
		<div>
			<label>Nome</label>
			<span><input type="text" required th:field="${utente.nome}" /></span>
			<span class="errore" th:if="${#fields.hasErrors('utente.nome')}" th:errors="${utente.nome}">
			</span>
		</div>
		<div>
			<label>Cognome</label>
			<span><input type="text" required th:field="${utente.cognome}" /></span>
			<span class="errore" th:if="${#fields.hasErrors('utente.cognome')}" th:errors="${utente.cognome}">
			</span>
		</div>
		<div>
			<label>Email</label>
			<span><input type="text" required th:field="${utente.email}" /></span>
			<span class="errore" th:if="${#fields.hasErrors('utente.email')}" th:errors="${utente.email}">
			</span>
		</div>
		<div>
			<label>Username</label>
			<span><input type="text" required th:field="${credenziali.username}" /></span>
			<span class="errore" th:if="${#fields.hasErrors('credenziali.username')}" th:errors="${credenziali.username}">
			</span>
		</div>
		<div>
			<label>Password</label>
			<span><input type="password" required th:field="${credenziali.password}" /></span>
			<span class="errore" th:if="${#fields.hasErrors('credenziali.password')}" th:errors="${credenziali.password}">
			</span>
		</div>
		<div>
			<button type="submit">Registra</button>
		</div>
	</form>
</body>

</html>
